<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>XiPTO</title>

  <base href="/">

  <script src="https://kit.fontawesome.com/a4b838d1a2.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <link rel="shortcut icon" type="image/png" href="images/xipto.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/reset.css" type="text/css">
  <link rel="stylesheet" href="css/algolia.css" type="text/css">
  <link rel="stylesheet" href="css/base.css" type="text/css">
  <link rel="stylesheet" href="css/layout.css" type="text/css">
  <link rel="stylesheet" href="css/module.css" type="text/css">
  <link rel="stylesheet" href="css/state.css" type="text/css">
</head>

<body>
  {{{body}}}

  <div id="overlay" class="overlay hidden"></div>

  <div id="sign-in-modal" class="modal hidden">
    <i id="close-modal" class="fas fa-times btn-close"></i>
    <h2 class="">Welcome back!</h2>
    <input type="email" id="signInEmail" class="" placeholder="Email Address" required autofocus>
    <input type="password" id="signInPassword" class="" placeholder="Password" required>
    <label class="" for="rememberPassword"><input type="checkbox" class="" id="rememberPassword"> Remember
      password</label>
    <a class="btn btn__large">Sign in</a>
    <a class="btn btn__large" id="signUp">Sign Up</a>
    <a class="" href="#">Forgot password?</a>
  </div>

  <div id="sign-up-modal" class="modal hidden">
    <i id="close-modal" class="fas fa-times btn-close" aria-hidden="true"></i>
    <input type="text" id="signUpFirstName" placeholder="First Name" required="required">
    <input type="text" id="signUpLastName" placeholder="Last Name" required="required">
    <input type="email" id="signUpEmail" placeholder="Email Address" required="required" autofocus="autofocus">
    <input type="password" id="signUpPassword" placeholder="Password" required="required">
    <input type="password" id="reenterSignUpPassword" placeholder="ReEnter Password" required="required">
    <a id="submitUserInformation" class="btn btn__large">Submit</a>
  </div>

  <script src="js/logic.js"></script>
</body>

</html>