<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>XiPTO</title>
  <base href="/">
  <script src="https://kit.fontawesome.com/a4b838d1a2.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css" type="text/css">
  <link rel="stylesheet" href="css/base.css" type="text/css">
  <link rel="stylesheet" href="css/layout.css" type="text/css">
  <link rel="stylesheet" href="css/module.css" type="text/css">
  <link rel="stylesheet" href="css/state.css" type="text/css">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>
