<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>XiPTO</title>

  <base href="/">

  <script src="https://kit.fontawesome.com/a4b838d1a2.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>

  <link rel="shortcut icon" type="image/png" href="images/xipto.png"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/reset.css" type="text/css">
  <link rel="stylesheet" href="css/base.css" type="text/css">
  <link rel="stylesheet" href="css/layout.css" type="text/css">
  <link rel="stylesheet" href="css/module.css" type="text/css">
  <link rel="stylesheet" href="css/state.css" type="text/css">
</head>

<body>
  {{{body}}}

  <div id="overlay" class="overlay hidden"></div>
  
  <div id="modal" class="modal hidden">
    <i id="close-modal" class="fas fa-times btn-close"></i>
    <h2 class="">Welcome back!</h2>
    <input type="email" id="inputEmail" class="" placeholder="Email Address" required autofocus>
    <input type="password" id="inputPassword" class="" placeholder="Password" required>
    <label class="" for="rememberPassword"><input type="checkbox" class="" id="rememberPassword">  Remember password</label>
    <a class="btn btn__large">Sign in</a>
    <a class="" href="#">Forgot password?</a></div>

    <script src="js/logic.js"></script>
</body>

</html>
