:root {
    --primary-color: #3BBF4F;
    --dark-color: #288035;
    --darkest-color: #14401A;
    --light-color: #47E65F;
    --white-color: #eeeeee;
    --black-color: #222222;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    color: var(--black-color);
}

h1, h2, h3, h4, h5, label {
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 32px;
    margin: 10px;
    color: var(--white-color);
    text-align: center;
}

label {
    display: inline;
}

a {
    text-decoration: none;
    color: var(--black-color);
    display: block;
    margin: 10px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

input, textarea {
    border-radius: 5px;
    border: none;
}