.btn {
    padding: 10px;
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 2px;
}

.btn__large {
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}

.icon {
    border-radius: 100%;
}

.icon__large {
    width: 250px;
    max-width: 90%;
}

.blockquote {
    font-style: italic;
    line-height: 1.5;
}

.blockquote-author {
    font-family: 'Lobster', cursive;
    font-size: 18px;
}

.modal {
    position: fixed;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -160px; 
    background-color: var(--light-color);
    border-radius: 15px;
    z-index: 3;
    padding: 20px;
    max-width: 80%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal input, .modal label, .modal select, .modal a, .modal textarea, .modal button, .modal h2 {
    display: block;
    margin: 10px;
}

.modal input, .modal select, .modal textarea {
    width: Calc(100% - 40px);
    padding: 10px;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkest-color);
    opacity: 0.5;
    z-index: 2;
}

.btn-close {
    color: var(--dark-color);
}

.title {
    width: 100%;
}

.grow-in {
    animation-name: grow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.carousel--element {
	position: relative;
    display: inline-block;
	margin: 10px;
    padding: 20px 20px;
    width: 300px;
    height: 200px;
	text-align: center;
    box-shadow: none !important;
    background-color: #cccccc;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.carousel--element img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: -20px -20px;
    border-radius: 10px;
}

.carousel--element--header {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--light-color);
    padding: 5px 0px;
    z-index: 1;
}

.carousel--element--badge {
    border-radius: 100%;
    text-align: center;
    background-color: var(--light-color);
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-left: 10px;
}

.carousel--element--badge h4 {
    font-size: 10px;
}

.carousel--element--badge a {
    font-size: 20px;
}

.badge-box {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
}