.btn:hover {
    background-color: var(--darkest-color);
    cursor: pointer;
}

.hidden {
  display: none;
}

.block__centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card__small {
    width: 20%;
}

.btn-close:hover {
  color: var(--black-color);
  cursor: pointer;
}

.invisible {
  opacity: 0;
}

#menu:hover {
  color: var(--black-color);
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}


@media only screen and (max-width: 768px) {
  body {
    display: block;
    min-height: 100vh;
  }

  .grid--sidebar {
    height: min-content;
  }

  .grid--content {
    min-height: 100vh;
  }

  .desktop-only {
    display: none;
  }

  .grid-two-col {
    display: block;
  }

  .card {
    width: 80%;
  }
}