   footer {
    text-align: center;
  }
  
  .fab {
    padding-right: 5px;
  }
  
  .btn-secondary {
    background-color: #444444;
  }
  
  i {
    opacity: 0.3;
  }
  
  * header-navbar */ #masthead {
    width: 100%;
    margin: 0 0 30px;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
  }
  
  .navbar {
    padding: 0;
    background-color: #8f9fa6;
    width: 100%;
    height: 100px;
  }
  .navbar-brand {
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }
  
  .navbar-nav {
    margin-right: 13vw;
    font-size: 18px;
    opacity: 0.8;
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  nav .navbar-nav a {
    color: white !important;
    /* border-left: 1px solid #efefef; */
    margin-right: 15% !important;
    font-size: 20px;
  }
  
  nav .navbar-nav a:first-child {
    border-left: 0 none;
  }
  
  nav .navbar-brand {
    color: #ffffff !important;
  }
  #firstlook {
    background: url('https://images.unsplash.com/photo-1507992781348-310259076fe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    height: 97vh;
    /* width: 100%;  */
    opacity: 0.79;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 35px; */
  }
  
  #firstlook p {
    color: white;
    padding-top: 50vh;
    font-size: 3vw;
    padding-left: 36vw;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
  }
  
  #firstlook a {
    margin-top: 47vh;
    margin-left: 43vw;
    font-size: 2vw;
    color: white;
    border: solid 1px;
    padding: 5px 15px 8px 15px;
    font-family: 'Quicksand', sans-serif;
  }
  
  #information {
    padding-top: 13vh;
  }
  
  #guide {
    padding-top: 6%;
  }
  
  .weather-button {
    background-color: #34bfa6;
  }
  
  .table .thead-dark th {
    background-color: #34bfa6;
  }
  
  .btn-primary {
    background-color: #34bfa6;
  }
  
  #new-article a {
    color: #34bfa6;
  }
  
  .week-button {
    background-color: transparent;
    color: black;
    border: 0;
    background-color: transparent;
    border: 0;
  }
  
  .about-us-image {
    width: 70%;
  }
  
 
  